body{
     font-family: 'Montserrat-';
}
#title {
    background-color : #ff4c68;
}

/* heading */

.meet{
    font-family: 'Montserrat', sans-serif;
    color: azure;
    font-size: 3.5rem;
    line-height: 1.5;

}
.container-fluid{
    padding: 3% 15% 7%;
}
.sniff{
    color: azure;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    color:black;
    line-height: 1.5;
}


/* navigation bar */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
    font-family: 'Ubuntu';
    font-weight: 900;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}

.download-button{
    margin : 5% 5% 3% 0%;
}

/* title-image */

.title-image{
transform: rotate(25deg);
 width: 20%;
 position: absolute;
 left: 55%;


}

#features{
    padding: 8% 15%;
    font-family: 'Montserrat';
    background-color: azure;
    position: relative;
   z-index: 1;

 
}
.feature-box{
    text-align: center ;
}
.feature{
    font-family: 'Ubuntu';
    color: #8f8f8f;
    padding:  0% 14%;
}
.icon-header{
   padding: 0% 2%;
}

.xor{
    color: #ef8172; 
}
.fas:hover {
   color: #ff4c68;
}

/* Testimonial */

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
}
.testimonial-images{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
em{
    color: azure;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing-section */

#pricing{
padding: 100px;
text-align: center;
}
.pricing-section{
    padding: 3% 2%;
}

@media(max-width: 993px){
#title{
    text-align: center;
}
    .title-image{
        position: static;
        transform: rotate(0);
        width: 48%;    
    }
}


/* Call to action */

#call-to-action {
    padding: 10% 20%;
    text-align: center;
    background-color: #ff4c68;
   
}
.find{
    font-family: 'Montserrat';
    color: azure;  
}
#footer{
    padding: 4% 10%;
    background-color: #fff;
    text-align: center;
}
.download-button-1{
    margin: 7% 1.5%;
}



.copyright{
    color:#8f8f8f;
}
.xob{
    padding: 0.75%;
}
.xob:hover{
    color: #ff4c68;
}

